/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ---------------Utility Classes----------------- */
  .container {
    width: 70vw;
    margin: 40px auto;
  }
  img{
      max-width: 100%;
  }
  
  /* ---------------Global Styles----------------- */
  
  /* Color Scheme
    #662C8F
    #DBA549
    #A65ADB
    #44DB84
    #338F5A
  */
/* ---------------Global Styles----------------- */
body{
    font-family: 'Comic Neue', cursive;
    margin: 0px;
    text-shadow: 1px 1px;
    background-color: #A65ADB;
}

header.primary {
    background-color: #662C8F;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 40px 40px 40px;
}

header.primary h1{
    font-size: 3.6rem;
    margin: 30px 30px;
}

header.primary h1 a{
    color:#A65ADB;
    text-decoration: none;
}

header.primary h2{
    font-size: 1.7rem;
    margin: 20px auto 10px;
}

header.primary nav {
    width: auto;
}

header.primary nav ul{
    /*removes extra space for list item attachments*/
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header.primary nav ul li{
    list-style-type: none;
}


header.primary nav ul li a {
    text-decoration: none;
    color:#A65ADB;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
}

header.primary nav ul li a:hover,
header.primary nav ul li a:active {
  width: 125%;
  height: 125%;
  transition: 5s;
  /* This doesn't work :( */
}

#content {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

#content article.post{
    width:24%;

    box-shadow:0 10px 20px rgba(0,0,0,.4);

    padding:15px;

    border-radius:7px;

    font-size:1rem;
}

.post time.post-date, figcaption, .post-meta{
    text-transform: uppercase;

    color: black;
}

.post figure{
    margin: 0;
}

.post img{
    border: 1px solid black;
    margin: 3px 0;
}

.post a {
    color: #338F5A;
}

.post a:hover, .post a:active{
    color: black;
    text-decoration-thickness: 1px;
    transition: 5s;
}

aside[role="complementary"]{
    background-color: #A65ADB;
    color: black;
    padding: 2rem;
    display: flex;
}

aside div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside div.container article.widget{
    width: 50%;
}

aside div.container article.widget a{
    color: #338F5A;
    display: block;
    margin-top: 0.5rem;
}

aside div.container article.widget a:hover, aside div.container article.widget a:active{
    color: black;
    text-decoration-thickness: 1px;
    transition: 5s;
}

aside div.container article.widget footer{
    display: none;
}

#colophon {
  background-color: #662C8F;
}

#colophon h6{
    padding:10px;
    margin:0;
    text-align:center;
    color: black;
    font-size:.5rem;
    text-transform:uppercase;
}